.container-form{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding-top: 20px;
}

.container-form input[type="text"]{
    width: 30%;
    padding: 5px 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.726);
    color: black;
    transition: all .15s ease-in-out;
}

@media(max-width: 700px){
    .container-form input[type="text"]{
        width: 50%;
    }
}

.container-form input[name="country"]{
    display: none;
}

.container-form input[type="text"]:focus{
    box-shadow: inset 0 0 2px rgba(7, 189, 180, 0.603);
    background: rgba(255, 255, 255, 0.932);
}


.container-form button{
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    color: #6193ab;
    background: white;
    border: 1px solid #6193ab;
    cursor: pointer;
    transition: all .15s ease-in;
}

.container-form button:hover{
    background: #6193ab;
    color: white;
    border: 1px solid white;
}